services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${DB_USER:-hypertube}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-hypertube}
      POSTGRES_DB: ${DB_NAME:-hypertube}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/database/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - "${DB_PORT:-5432}:5432"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${DB_USER:-hypertube} -d ${DB_NAME:-hypertube}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
      build:
        context: ./backend
        dockerfile: Dockerfile
      env_file: ./backend/.env
      environment:
        DB_HOST: db
        PORT: 3000
      ports:
        - "${BACKEND_PORT:-3001}:3000"
      depends_on:
        db:
          condition: service_healthy


volumes:
  postgres_data:
