* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #000000;
  color: rgb(245, 131, 0);
  padding: 1rem 2rem;
}

main {
  flex: 1;
  padding: 2rem;
}

footer {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}
